# Distribution file for the Example project.
# http://www.openengine.dk/wiki/Projects/Boids

dist /extensions/OpenColladaResource/OpenColladaResource.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-OpenColladaResource/master/OpenColladaResource.dist
dist /extensions/PropertyTree/PropertyTree.dist               https://raw.githubusercontent.com/OpenEngineDK/extensions-PropertyTree/master/PropertyTree.dist

# main repository
git / https://github.com/OpenEngineDK/openengine.git
git-dev / git@github.com:OpenEngineDK/openengine.git

# project repository
# (uncomment the following two lines after uploading your project)
git /projects/Boids https://github.com/OpenEngineDK/projects-Boids.git
git-dev /projects/Boids git@github.com:OpenEngineDK/projects-Boids.git

# dist dependencies
dist /extensions/HeightMap/HeightMap.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-HeightMap/master/HeightMap.dist

# required extensions
git /extensions/ActionMappers          https://github.com/OpenEngineDK/extensions-ActionMappers.git
git /extensions/SetupHelpers           https://github.com/OpenEngineDK/extensions-SetupHelpers.git
git /extensions/HUD                    https://github.com/OpenEngineDK/extensions-HUD.git
git /extensions/SDL                    https://github.com/OpenEngineDK/extensions-SDL.git
git /extensions/WiiMote                https://github.com/OpenEngineDK/extensions-WiiMote.git
git /extensions/GLUT                   https://github.com/OpenEngineDK/extensions-GLUT.git
git /extensions/SDLImage               https://github.com/OpenEngineDK/extensions-SDLImage.git
git /extensions/CairoResource          https://github.com/OpenEngineDK/extensions-CairoResource.git
git /extensions/OpenGLRenderer         https://github.com/OpenEngineDK/extensions-OpenGLRenderer.git
git /extensions/TGAResource            https://github.com/OpenEngineDK/extensions-TGAResource.git
git /extensions/OBJResource            https://github.com/OpenEngineDK/extensions-OBJResource.git
git /extensions/AccelerationStructures https://github.com/OpenEngineDK/extensions-AccelerationStructures.git
git /extensions/FaceBuilder            https://github.com/OpenEngineDK/extensions-FaceBuilder.git
git /extensions/OpenALSoundSystem      https://github.com/OpenEngineDK/extensions-OpenALSoundSystem.git
git /extensions/MusicPlayer            https://github.com/OpenEngineDK/extensions-MusicPlayer.git
git /extensions/VorbisResource         https://github.com/OpenEngineDK/extensions-VorbisResource.git

#dev
git-dev /extensions/ActionMappers          git@github.com:OpenEngineDK/extensions-ActionMappers.git
git-dev /extensions/SetupHelpers           git@github.com:OpenEngineDK/extensions-SetupHelpers.git
git-dev /extensions/HUD                    git@github.com:OpenEngineDK/extensions-HUD.git
git-dev /extensions/SDL                    git@github.com:OpenEngineDK/extensions-SDL.git
git-dev /extensions/WiiMote                git@github.com:OpenEngineDK/extensions-WiiMote.git
git-dev /extensions/GLUT                   git@github.com:OpenEngineDK/extensions-GLUT.git
git-dev /extensions/SDLImage               git@github.com:OpenEngineDK/extensions-SDLImage.git
git-dev /extensions/CairoResource          git@github.com:OpenEngineDK/extensions-CairoResource.git
git-dev /extensions/OpenGLRenderer         git@github.com:OpenEngineDK/extensions-OpenGLRenderer.git
git-dev /extensions/TGAResource            git@github.com:OpenEngineDK/extensions-TGAResource.git
git-dev /extensions/OBJResource            git@github.com:OpenEngineDK/extensions-OBJResource.git
git-dev /extensions/AccelerationStructures git@github.com:OpenEngineDK/extensions-AccelerationStructures.git
git-dev /extensions/OpenALSoundSystem      git@github.com:OpenEngineDK/extensions-OpenALSoundSystem.git
git-dev /extensions/MusicPlayer            git@github.com:OpenEngineDK/extensions-MusicPlayer.git
git-dev /extensions/VorbisResource         git@github.com:OpenEngineDK/extensions-VorbisResource.git

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip

# darwin libraries

darwin /libraries http://openengine.dk/data/libraries/wii_mac64.tgz

# linux libraries

# project data

any /projects/Boids/data	http://www.openengine.dk/data/projects/ThirdPersonEater/textures.zip
any /projects/Boids/data	http://www.openengine.dk/data/projects/ThirdPersonEater/fish.tar.gz
any /projects/Boids/data	http://www.openengine.dk/data/projects/ThirdPersonEater/underwater.ogg
any /projects/Boids/data	http://www.openengine.dk/data/projects/ThirdPersonEater/bubbles.ogg
