# Distribution file for the Example project.
# http://www.openengine.dk/wiki/Projects/Boids

dist /extensions/OpenColladaResource/OpenColladaResource.dist http://openengine.dk/code/extensions/OpenColladaResource/OpenColladaResource.dist
dist /extensions/PropertyTree/PropertyTree.dist               http://openengine.dk/code/extensions/PropertyTree/PropertyTree.dist

# main repository
darcs / http://openengine.dk/code/branches/BufferObjects
darcs-dev / fh.daimi.au.dk:/users/cgd/code/branches/BufferObjects

# project repository
# (uncomment the following two lines after uploading your project)
darcs /projects/Boids http://openengine.dk/code/projects/Boids
darcs-dev /projects/Boids fh.daimi.au.dk:/users/cgd/code/projects/Boids

# required extensions
darcs /extensions/SetupHelpers           http://openengine.dk/code/extensions/SetupHelpers
darcs /extensions/HUD                    http://openengine.dk/code/extensions/HUD
darcs /extensions/SDL                    http://openengine.dk/code/extensions/SDL
darcs /extensions/WiiMote                http://openengine.dk/code/extensions/WiiMote
darcs /extensions/GLUT                   http://openengine.dk/code/extensions/GLUT
darcs /extensions/SDLImage               http://openengine.dk/code/extensions/SDLImage
darcs /extensions/CairoResource          http://openengine.dk/code/extensions/CairoResource
darcs /extensions/OpenGLRenderer         http://openengine.dk/code/branches/OpenGLRendererVBO
darcs /extensions/TGAResource            http://openengine.dk/code/extensions/TGAResource
darcs /extensions/OBJResource            http://openengine.dk/code/extensions/OBJResource
darcs /extensions/AccelerationStructures http://openengine.dk/code/extensions/AccelerationStructures
darcs /extensions/FaceBuilder            http://openengine.dk/code/extensions/FaceBuilder
darcs /extensions/HeightMap              http://openengine.dk/code/extensions/HeightMap

darcs-dev /extensions/SetupHelpers           fh.daimi.au.dk:/users/cgd/code/extensions/SetupHelpers
darcs-dev /extensions/HUD                    fh.daimi.au.dk:/users/cgd/code/extensions/HUD
darcs-dev /extensions/SDL                    fh.daimi.au.dk:/users/cgd/code/extensions/SDL
darcs-dev /extensions/WiiMote                fh.daimi.au.dk:/users/cgd/code/extensions/WiiMote
darcs-dev /extensions/GLUT                   fh.daimi.au.dk:/users/cgd/code/extensions/GLUT
darcs-dev /extensions/SDLImage               fh.daimi.au.dk:/users/cgd/code/extensions/SDLImage
darcs-dev /extensions/CairoResource          fh.daimi.au.dk:/users/cgd/code/extensions/CairoResource
darcs-dev /extensions/OpenGLRenderer         fh.daimi.au.dk:/users/cgd/code/branches/OpenGLRendererVBO
darcs-dev /extensions/TGAResource            fh.daimi.au.dk:/users/cgd/code/extensions/TGAResource
darcs-dev /extensions/OBJResource            fh.daimi.au.dk:/users/cgd/code/extensions/OBJResource
darcs-dev /extensions/AccelerationStructures fh.daimi.au.dk:/users/cgd/code/extensions/AccelerationStructures
darcs-dev /extensions/HeightMap              fh.daimi.au.dk:/users/cgd/code/extensions/HeightMap

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip

# darwin libraries

darwin /libraries http://openengine.dk/data/libraries/wii_mac64.tgz

# linux libraries

# project data

any /projects/Boids/data	http://www.openengine.dk/data/projects/ThirdPersonEater/textures.zip
any /projects/Boids/data	http://www.openengine.dk/data/projects/ThirdPersonEater/fish.tar.gz